prompts/
raw_data/
set_github.txt
test_function.ipynb
requirement/
.DS_Store

lib/model_IA/bert/__pycache__/
lib/model_IA/gpt/__pycache__/
lib/postgresSQL/__pycache__/
lib/search_engine/__pycache__/
lib/sqlite_db/__pycache__/
lib/user_interaction/__pycache__/